.banner {
  height: 430px;
  max-height: 430px;
  background-blend-mode: multiply;
  background-position: top center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 35px 35px -30px #00000040;
  padding: 2rem;
}
.banner-title {
  font-family: "Chewy", cursive;
  font-size: 4rem;
  color: #ffffff;
}
.banner-play {
  border-radius: 1000px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  animation: playButton 1.5s ease-out 0.02s infinite ;
}
.card-name {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.poster {
  image-resolution: 100dpi;
}
@keyframes playButton {
  from {
    box-shadow: 0 0 0 0px #3399ff80, 0 0 0 0px #3399ff90, 0 0 0 0px #3399ff;
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 40px #3399ff05, 0 0 0 25px #3399ff00, 0 0 0 10px #3399ff00;
  }
}
