@import url("./root.css");
@import url("./My_Classes.css");
/* ----------- */
/* default styles */
/* ----------- */
* {
  font-family: "DM Sans", sans-serif;
  letter-spacing: var(--spacing-1);
}
main {
  min-height: 80vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
