@import url("../../../Styles/root.css");
.movie-title {
  border-left: 5px solid var(--this-primary);
  color: var(--this-secondary);
}
.sub-title {
  border-bottom: 3px solid var(--this-primary);
  color: var(--this-secondary);
}
.data {
  line-height: 1.5;
  color: rgb(231, 227, 255) !important;
}
.budget {
  background: #ffffff10;
}
