.single_banner {
  height: 500px;
  max-height: 500px;
  background-position: top center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 35px 35px -30px #00000040;
  padding: 2rem;
}
